<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character.nick_name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>

<div class="main">
    <div class="head"></div>
    <div class="frac">
        <div class="f1">
            <div class="f_img">
                <img class="img_class" src="{{ character.specialization.class_logo.url }}" alt="{{ character.specialization.title }} Logo" width="130" height="130">
            </div>
            <div class="char_nick">
                <h1>{{ character.nick_name }}</h1>
                <h2> {{ character.get_fraction_display }}</h2>
            </div>
            
        </div>
        <div class="f2">
            <h1> {{ character.gear_score }} УР. ПРЕДМЕТОВ </h1> 
            <h3>{{ character.character_level }} {{ character.get_race_display }} {{ character.specialization.title }} ({{ character.specialization.specialization.title }})</h3>
        </div>
    </div>
    <div class="char_interface">
        <div class="center_interface">
            <div class="equip1">
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('headArmorTooltip')" onmouseout="hideTooltip('headArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='head'%}">
                            <img class="tooltip" src="{{ character.head_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/c/c3/Ui-paperdoll-slot-head.png/revision/latest?cb=20070607015044">
                        </a>
                        <div class="tooltip-content" id="headArmorTooltip">
                        <p class="purple">{{ character.head_armor.title }}</p>
                        {% if character.head_armor %}
                        <p class="yellow">Уровень предмета: {{ character.head_armor.item_level }}</p>
                        <p>Качество: {{ character.head_armor.quality }}</p>
                        <p>Тип брони:  {{ character.head_armor.armor_type }} </p>
                        <p>Броня:  {{ character.head_armor.armor }}</p>
                        {% if character.head_armor.strength %}
                        <p>+{{ character.head_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.head_armor.intelect  %}
                        <p>+{{ character.head_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.head_armor.agility  %}
                        <p>+{{ character.head_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.head_armor.stamina %}
                        <p>+{{ character.head_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.head_armor.haste_rating  %}
                        <p class="green">+{{ character.head_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.head_armor.crit_rating  %}
                        <p class="green">+{{ character.head_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.head_armor.versatility  %}
                        <p class="green">+{{ character.head_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.head_armor.mastery  %}
                        <p class="green">+{{ character.head_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.head_armor.required_level   %}
                        <p>Требуется {{ character.head_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>
                </div>        
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('AmuletTooltip')" onmouseout="hideTooltip('AmuletTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='amulet'%}">
                            <img class="tooltip" src="{{ character.amulet.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/d/d4/Ui-paperdoll-slot-neck.png/revision/latest?cb=20070607015138">
                        </a>
                        <div class="tooltip-content" id="AmuletTooltip">
                        <p class="purple">{{ character.amulet.title }}</p>
                        {% if character.amulet %}
                        <p class="yellow">Уровень предмета: {{ character.amulet.item_level }}</p>
                        <p>Качество: {{ character.amulet.quality }}</p>
                        <p>Тип брони:  {{ character.amulet.armor_type }} </p>
                        {% if character.amulet.strength %}
                        <p>+{{ character.amulet.strength }} к силе</p>
                        {% endif %}
                        {% if character.amulet.intelect  %}
                        <p>+{{ character.amulet.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.amulet.agility  %}
                        <p>+{{ character.amulet.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.amulet.stamina %}
                        <p>+{{ character.amulet.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.amulet.haste_rating  %}
                        <p class="green">+{{ character.amulet.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.amulet.crit_rating  %}
                        <p class="green">+{{ character.amulet.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.amulet.versatility  %}
                        <p class="green">+{{ character.amulet.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.amulet.mastery  %}
                        <p class="green">+{{ character.amulet.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.amulet.required_level   %}
                        <p>Требуется {{ character.amulet.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p  class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>     
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('shoulderArmorTooltip')" onmouseout="hideTooltip('shoulderArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='shoulder'%}">
                            <img class="tooltip" src="{{ character.shoulder_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/f/fa/Ui-paperdoll-slot-shoulder.png/revision/latest?cb=20070607015347">
                        </a>
                        <div class="tooltip-content" id="shoulderArmorTooltip">
                        <p class="purple">{{ character.shoulder_armor.title }}</p>
                        {% if character.shoulder_armor %}
                        <p class="yellow">Уровень предмета: {{ character.shoulder_armor.item_level }}</p>
                        <p>Качество: {{ character.shoulder_armor.quality }}</p>
                        <p>Тип брони:  {{ character.shoulder_armor.armor_type }} </p>
                        <p>Броня:  {{ character.shoulder_armor.armor }}</p>
                        {% if character.shoulder_armor.strength %}
                        <p>+{{ character.shoulder_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.shoulder_armor.intelect  %}
                        <p>+{{ character.shoulder_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.shoulder_armor.agility  %}
                        <p>+{{ character.shoulder_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.shoulder_armor.stamina %}
                        <p>+{{ character.shoulder_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.shoulder_armor.haste_rating  %}
                        <p class="green">+{{ character.shoulder_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.shoulder_armor.crit_rating  %}
                        <p class="green">+{{ character.shoulder_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.shoulder_armor.versatility  %}
                        <p class="green">+{{ character.shoulder_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.shoulder_armor.mastery  %}
                        <p class="green">+{{ character.shoulder_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.shoulder_armor.required_level   %}
                        <p>Требуется {{ character.shoulder_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('backArmorTooltip')" onmouseout="hideTooltip('backArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='back'%}">
                            <img class="tooltip" src="{{ character.back_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/b/b7/Ui-paperdoll-slot-chest.png/revision/latest?cb=20070606225854">
                        </a>
                        <div class="tooltip-content" id="backArmorTooltip">
                        <p class="purple">{{ character.back_armor.title }}</p>
                        {% if character.back_armor %}
                        <p class="yellow">Уровень предмета: {{ character.back_armor.item_level }}</p>
                        <p>Качество: {{ character.back_armor.quality }}</p>
                        <p>Тип брони:  {{ character.back_armor.armor_type }} </p>
                        <p>Броня:  {{ character.back_armor.armor }}</p>
                        {% if character.back_armor.strength %}
                        <p>+{{ character.back_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.back_armor.intelect  %}
                        <p>+{{ character.back_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.back_armor.agility  %}
                        <p>+{{ character.back_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.back_armor.stamina %}
                        <p>+{{ character.back_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.back_armor.haste_rating  %}
                        <p class="green">+{{ character.back_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.back_armor.crit_rating  %}
                        <p class="green">+{{ character.back_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.back_armor.versatility  %}
                        <p class="green">+{{ character.back_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.back_armor.mastery  %}
                        <p class="green">+{{ character.back_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.back_armor.required_level   %}
                        <p>Требуется {{ character.back_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('bodyArmorTooltip')" onmouseout="hideTooltip('bodyArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='body'%}">
                            <img class="tooltip" src="{{ character.body_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/b/b7/Ui-paperdoll-slot-chest.png/revision/latest?cb=20070606225854">
                        </a>
                        <div class="tooltip-content" id="bodyArmorTooltip">
                        <p class="purple">{{ character.body_armor.title }}</p>
                        {% if character.body_armor %}
                        <p class="yellow">Уровень предмета: {{ character.body_armor.item_level }}</p>
                        <p>Качество: {{ character.body_armor.quality }}</p>
                        <p>Тип брони:  {{ character.body_armor.armor_type }} </p>
                        <p>Броня:  {{ character.body_armor.armor }}</p>
                        {% if character.body_armor.strength %}
                        <p>+{{ character.body_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.body_armor.intelect  %}
                        <p>+{{ character.body_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.body_armor.agility  %}
                        <p>+{{ character.body_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.body_armor.stamina %}
                        <p>+{{ character.body_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.body_armor.haste_rating  %}
                        <p class="green">+{{ character.body_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.body_armor.crit_rating  %}
                        <p class="green">+{{ character.body_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.body_armor.versatility  %}
                        <p class="green">+{{ character.body_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.body_armor.mastery  %}
                        <p class="green">+{{ character.body_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.body_armor.required_level   %}
                        <p>Требуется {{ character.body_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>
                </div>
                </div>
                <div class="e1">
                    <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/1/1f/Ui-paperdoll-slot-tabard.png/revision/latest?cb=20070607015354" alt="">
           
                </div>
                <div class="e1">
                    <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/f/fd/Ui-paperdoll-slot-shirt.png/revision/latest?cb=20070607015341" alt="">
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('wristArmorTooltip')" onmouseout="hideTooltip('wristArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='wirst'%}">
                            <img class="tooltip" src="{{ character.wrist_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/1/1d/Ui-paperdoll-slot-wrists.png/revision/latest?cb=20070607015415">
                        </a>
                        <div class="tooltip-content" id="wristArmorTooltip">
                        <p class="purple">{{ character.wrist_armor.title }}</p>
                        {% if character.wrist_armor %}
                        <p class="yellow">Уровень предмета: {{ character.wrist_armor.item_level }}</p>
                        <p>Качество: {{ character.wrist_armor.quality }}</p>
                        <p>Тип брони:  {{ character.wrist_armor.armor_type }} </p>
                        <p>Броня:  {{ character.wrist_armor.armor }}</p>
                        {% if character.wrist_armor.strength %}
                        <p>+{{ character.wrist_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.wrist_armor.intelect  %}
                        <p>+{{ character.wrist_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.wrist_armor.agility  %}
                        <p>+{{ character.wrist_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.wrist_armor.stamina %}
                        <p>+{{ character.wrist_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.wrist_armor.haste_rating  %}
                        <p class="green">+{{ character.wrist_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.wrist_armor.crit_rating  %}
                        <p class="green">+{{ character.wrist_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.wrist_armor.versatility  %}
                        <p class="green">+{{ character.wrist_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.wrist_armor.mastery  %}
                        <p class="green">+{{ character.wrist_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.wrist_armor.required_level   %}
                        <p>Требуется {{ character.wrist_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>
                </div>
                </div>
            </div>
            <div class="equip2">
                <div class="char_img">
                    <div class="char_center">
                        <img class="char_img" src="https://svgsilh.com/svg_v2/3108873.svg" alt="">
                    </div>
                </div>
                <div class="weapon_slot">
                    <div class="waepon_center">
                        <div class="e2">
                            <div class="tooltip-container" onmouseover="showTooltip('weapon1Tooltip')" onmouseout="hideTooltip('weapon1Tooltip')">
                            <a href="{% url 'view_armors' character_id=character.id armor_type='weapon'%}">
                                <img class="tooltip" src="{{ character.weapon1.item_img }}"  width="100%" height="100%" style="position: absolute; z-index: 2;">
                                <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/f/f5/Ui-paperdoll-slot-mainhand.png/revision/latest?cb=20070607015117">
                            </a>
                            <div class="tooltip-content" id="weapon1Tooltip">
                                <p class="purple">{{ character.weapon1.title }}</p>
                                {% if character.weapon1 %}
                                <p class="yellow">Уровень предмета: {{ character.weapon1.item_level }}</p>
                                <p>Качество: {{ character.weapon1.quality }}</p>
                                <p>Тип оружия:  {{ character.weapon1.waepon_type }} </p>
                                <p>Урон: {{ character.weapon1.min_damage }} - {{ character.weapon1.max_damage }}</p>
                                <p>({{ character.weapon1.damage_per_second }} ед.урона в секнуду)</p>
                                <p>Скорость: {{ character.weapon1.attack_speed }}</p>
                                {% if character.weapon1.strength %}
                                <p>+{{ character.weapon1.strength }} к силе</p>
                                {% endif %}
                                {% if character.weapon1.intelect  %}
                                <p>+{{ character.weapon1.intelect  }} к интелекту</p>
                                {% endif %}
                                {% if character.weapon1.agility  %}
                                <p>+{{ character.weapon1.agility  }} к ловкости</p>
                                {% endif %}
                                {% if character.weapon1.stamina %}
                                <p>+{{ character.weapon1.stamina }} к выносливости</p>
                                {% endif %}
                                {% if character.weapon1.haste_rating  %}
                                <p class="green">+{{ character.weapon1.haste_rating }} к скорости</p>
                                {% endif %}
                                {% if character.weapon1.crit_rating  %}
                                <p class="green">+{{ character.weapon1.crit_rating }} к критическому удару</p>
                                {% endif %}
                                {% if character.weapon1.versatility  %}
                                <p class="green">+{{ character.weapon1.versatility }} к универсальности</p>
                                {% endif %}
                                {% if character.weapon1.mastery  %}
                                <p class="green">+{{ character.weapon1.mastery }} к искустности</p>
                                {% endif %}
                                {% if character.weapon1.required_level   %}
                                <p>Требуется {{ character.weapon1.required_level  }}-й ур.</p>
                                {% endif %}
                                {% else %}
                                <p class="yellow">предмет не экипирован</p>
                                {% endif %}
                                </div>         
                        </div>
                        </div>
                        <div class="e2">
                            <div class="tooltip-container" onmouseover="showTooltip('weapon2Tooltip')" onmouseout="hideTooltip('weapon2Tooltip')">
                                <a href="{% url 'view_armors' character_id=character.id armor_type='weapon'%}">
                                    <img class="tooltip" src="{{ character.weapon2.item_img }}">
                                    <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/3/30/Ui-paperdoll-slot-secondaryhand.png/revision/latest?cb=20070607015335">
                                </a>
                                <div class="tooltip-content" id="weapon2Tooltip">
                                    <p class="purple">{{ character.weapon2.title }}</p>
                                    {% if character.weapon2 %}
                                    <p class="yellow">Уровень предмета: {{ character.weapon2.item_level }}</p>
                                    <p>Качество: {{ character.weapon2.quality }}</p>
                                    <p>Тип оружия:  {{ character.weapon2.waepon_type }} </p>
                                    <p>Урон: {{ character.weapon2.min_damage }} - {{ character.weapon2.max_damage }}</p>
                                    <p>({{ character.weapon2.damage_per_second }} ед.урона в секнуду)</p>
                                    <p>Скорость: {{ character.weapon2.attack_speed }}</p>
                                    {% if character.weapon2.strength %}
                                    <p>+{{ character.weapon2.strength }} к силе</p>
                                    {% endif %}
                                    {% if character.weapon2.intelect  %}
                                    <p>+{{ character.weapon2.intelect  }} к интелекту</p>
                                    {% endif %}
                                    {% if character.weapon2.agility  %}
                                    <p>+{{ character.weapon2.agility  }} к ловкости</p>
                                    {% endif %}
                                    {% if character.weapon2.stamina %}
                                    <p>+{{ character.weapon2.stamina }} к выносливости</p>
                                    {% endif %}
                                    {% if character.weapon2.haste_rating  %}
                                    <p class="green">+{{ character.weapon2.haste_rating }} к скорости</p>
                                    {% endif %}
                                    {% if character.weapon2.crit_rating  %}
                                    <p class="green">+{{ character.weapon2.crit_rating }} к критическому удару</p>
                                    {% endif %}
                                    {% if character.weapon2.versatility  %}
                                    <p class="green">+{{ character.weapon2.versatility }} к универсальности</p>
                                    {% endif %}
                                    {% if character.weapon2.mastery  %}
                                    <p class="green">+{{ character.weapon2.mastery }} к искустности</p>
                                    {% endif %}
                                    {% if character.weapon2.required_level   %}
                                    <p>Требуется {{ character.weapon2.required_level  }}-й ур.</p>
                                    {% endif %}
                                    {% else %}
                                    <p class="yellow">предмет не экипирован</p>
                                    {% endif %}
                                    </div>         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="equip3">
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('glovesArmorTooltip')" onmouseout="hideTooltip('glovesArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='gloves'%}">
                            <img class="tooltip" src="{{ character.gloves_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/2/22/Ui-paperdoll-slot-hands.png/revision/latest?cb=20070607015036">
                        </a>
                        <div class="tooltip-content" id="glovesArmorTooltip">
                            {% if character.gloves_armor %}
                            <p class="purple">{{ character.gloves_armor.title }}</p>
                        <p class="yellow">Уровень предмета: {{ character.gloves_armor.item_level }}</p>
                        <p>Качество: {{ character.gloves_armor.quality }}</p>
                        <p>Тип брони:  {{ character.gloves_armor.armor_type }} </p>
                        <p>Броня:  {{ character.gloves_armor.armor }}</p>
                        {% if character.gloves_armor.strength %}
                        <p>+{{ character.gloves_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.gloves_armor.intelect  %}
                        <p>+{{ character.gloves_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.gloves_armor.agility  %}
                        <p>+{{ character.gloves_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.gloves_armor.stamina %}
                        <p>+{{ character.gloves_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.gloves_armor.haste_rating  %}
                        <p class="green">+{{ character.gloves_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.gloves_armor.crit_rating  %}
                        <p class="green">+{{ character.gloves_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.gloves_armor.versatility  %}
                        <p class="green">+{{ character.gloves_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.gloves_armor.mastery  %}
                        <p class="green">+{{ character.gloves_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.gloves_armor.required_level   %}
                        <p>Требуется {{ character.gloves_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('beltArmorTooltip')" onmouseout="hideTooltip('beltArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='belt'%}">
                            <img class="tooltip" src="{{ character.belt_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/c/cd/Ui-paperdoll-slot-waist.png/revision/latest?cb=20070607015409">
                        </a>
                        <div class="tooltip-content" id="beltArmorTooltip">
                            {% if character.belt_armor %}
                        <p class="purple">{{ character.belt_armor.title }}</p>
                        <p class="yellow">Уровень предмета: {{ character.belt_armor.item_level }}</p>
                        <p>Качество: {{ character.belt_armor.quality }}</p>
                        <p>Тип брони:  {{ character.belt_armor.armor_type }} </p>
                        <p>Броня:  {{ character.belt_armor.armor }}</p>
                        {% if character.belt_armor.strength %}
                        <p>+{{ character.belt_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.belt_armor.intelect  %}
                        <p>+{{ character.belt_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.belt_armor.agility  %}
                        <p>+{{ character.belt_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.belt_armor.stamina %}
                        <p>+{{ character.belt_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.belt_armor.haste_rating  %}
                        <p class="green">+{{ character.belt_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.belt_armor.crit_rating  %}
                        <p class="green">+{{ character.belt_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.belt_armor.versatility  %}
                        <p class="green">+{{ character.belt_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.belt_armor.mastery  %}
                        <p class="green">+{{ character.belt_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.belt_armor.required_level   %}
                        <p>Требуется {{ character.belt_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('legsArmorTooltip')" onmouseout="hideTooltip('legsArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='legs'%}">
                            <img class="tooltip" src="{{ character.legs_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/1/14/Ui-paperdoll-slot-legs.png/revision/latest?cb=20070607015103">
                        </a>
                        <div class="tooltip-content" id="legsArmorTooltip">
                            {% if character.legs_armor %}
                        <p class="purple">{{ character.legs_armor.title }}</p>
                        <p class="yellow">Уровень предмета: {{ character.legs_armor.item_level }}</p>
                        <p>Качество: {{ character.legs_armor.quality }}</p>
                        <p>Тип брони:  {{ character.legs_armor.armor_type }} </p>
                        <p>Броня:  {{ character.legs_armor.armor }}</p>
                        {% if character.legs_armor.strength %}
                        <p>+{{ character.legs_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.legs_armor.intelect  %}
                        <p>+{{ character.legs_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.legs_armor.agility  %}
                        <p>+{{ character.legs_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.legs_armor.stamina %}
                        <p>+{{ character.legs_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.legs_armor.haste_rating  %}
                        <p class="green">+{{ character.legs_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.legs_armor.crit_rating  %}
                        <p class="green">+{{ character.legs_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.legs_armor.versatility  %}
                        <p class="green">+{{ character.legs_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.legs_armor.mastery  %}
                        <p class="green">+{{ character.legs_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.legs_armor.required_level   %}
                        <p>Требуется {{ character.legs_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                        </div>
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('bootsArmorTooltip')" onmouseout="hideTooltip('bootsArmorTooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='boots'%}">
                            <img class="tooltip" src="{{ character.boots_armor.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/a/a5/Ui-paperdoll-slot-feet.png/revision/latest?cb=20070607015023">
                        </a>
                        <div class="tooltip-content" id="bootsArmorTooltip">
                            {% if character.boots_armor %}
                        <p class="purple">{{ character.boots_armor.title }}</p>
                        <p class="yellow">Уровень предмета: {{ character.boots_armor.item_level }}</p>
                        <p>Качество: {{ character.boots_armor.quality }}</p>
                        <p>Тип брони:  {{ character.boots_armor.armor_type }} </p>
                        <p>Броня:  {{ character.boots_armor.armor }}</p>
                        {% if character.boots_armor.strength %}
                        <p>+{{ character.boots_armor.strength }} к силе</p>
                        {% endif %}
                        {% if character.boots_armor.intelect  %}
                        <p>+{{ character.boots_armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.boots_armor.agility  %}
                        <p>+{{ character.boots_armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.boots_armor.stamina %}
                        <p>+{{ character.boots_armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.boots_armor.haste_rating  %}
                        <p class="green">+{{ character.boots_armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.boots_armor.crit_rating  %}
                        <p class="green">+{{ character.boots_armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.boots_armor.versatility  %}
                        <p class="green">+{{ character.boots_armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.boots_armor.mastery  %}
                        <p class="green">+{{ character.boots_armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.boots_armor.required_level   %}
                        <p>Требуется {{ character.boots_armor.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                       
                </div>
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('ring1Tooltip')" onmouseout="hideTooltip('ring1Tooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='ring1'%}">
                            <img class="tooltip" src="{{ character.ring1.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/c/c2/Ui-paperdoll-slot-finger.png/revision/latest?cb=20070607015031">
                        </a>
                        <div class="tooltip-content" id="ring1Tooltip">
                            {% if character.ring1 %}
                        <p class="purple">{{ character.ring1.title }}</p>
                        <p class="yellow">Уровень предмета: {{ character.ring1.item_level }}</p>
                        <p>Качество: {{ character.ring1.quality }}</p>
                        <p>Тип брони:  {{ character.ring1.armor_type }} </p>
                        {% if character.ring1.strength %}
                        <p>+{{ character.ring1.strength }} к силе</p>
                        {% endif %}
                        {% if character.ring1.intelect  %}
                        <p>+{{ character.ring1.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.ring1.agility  %}
                        <p>+{{ character.ring1.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.ring1.stamina %}
                        <p>+{{ character.ring1.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.ring1.haste_rating  %}
                        <p class="green">+{{ character.ring1.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.ring1.crit_rating  %}
                        <p class="green">+{{ character.ring1.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.ring1.versatility  %}
                        <p class="green">+{{ character.ring1.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.ring1.mastery  %}
                        <p class="green">+{{ character.ring1.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.ring1.required_level   %}
                        <p>Требуется {{ character.ring1.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                       
                </div>
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('ring2Tooltip')" onmouseout="hideTooltip('ring2Tooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='ring2'%}">
                            <img class="tooltip" src="{{ character.ring2.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/c/c2/Ui-paperdoll-slot-finger.png/revision/latest?cb=20070607015031">
                        </a>
                        <div class="tooltip-content" id="ring2Tooltip">
                            {% if character.ring2 %}
                        <p class="purple">{{ character.ring2.title }}</p>
                        <p class="yellow">Уровень предмета: {{ character.ring2.item_level }}</p>
                        <p>Качество: {{ character.ring2.quality }}</p>
                        <p>Тип брони:  {{ character.ring2.armor_type }} </p>
                       
                        {% if character.ring2.strength %}
                        <p>+{{ character.ring2.strength }} к силе</p>
                        {% endif %}
                        {% if character.ring2.intelect  %}
                        <p>+{{ character.ring2.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.ring2.agility  %}
                        <p>+{{ character.ring2.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.ring2.stamina %}
                        <p>+{{ character.ring2.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.ring2.haste_rating  %}
                        <p class="green">+{{ character.ring2.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.ring2.crit_rating  %}
                        <p class="green">+{{ character.ring2.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.ring2.versatility  %}
                        <p class="green">+{{ character.ring2.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.ring2.mastery  %}
                        <p class="green">+{{ character.ring2.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.ring2.required_level   %}
                        <p>Требуется {{ character.ring2.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                       
                </div>
                </div>
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('trinket1Tooltip')" onmouseout="hideTooltip('trinket1Tooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='trinket1'%}">
                            <img class="tooltip" src="{{ character.trinket1.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/2/26/Ui-paperdoll-slot-trinket.png/revision/latest?cb=20070607015403">
                        </a>
                        <div class="tooltip-content" id="trinket1Tooltip">
                            {% if character.trinket1 %}
                        <p class="purple">{{ character.trinket1.title }}</p>
                        <p class="yellow">Уровень предмета: {{ character.trinket1.item_level }}</p>
                        <p>Качество: {{ character.trinket1.quality }}</p>
                        <p>Тип брони:  {{ character.trinket1.armor_type }} </p>
                       
                        {% if character.trinket1.strength %}
                        <p>+{{ character.trinket1.strength }} к силе</p>
                        {% endif %}
                        {% if character.trinket1.intelect  %}
                        <p>+{{ character.trinket1.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.trinket1.agility  %}
                        <p>+{{ character.trinket1.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.trinket1.stamina %}
                        <p>+{{ character.trinket1.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.trinket1.haste_rating  %}
                        <p class="green">+{{ character.trinket1.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.trinket1.crit_rating  %}
                        <p class="green">+{{ character.trinket1.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.trinket1.versatility  %}
                        <p class="green">+{{ character.trinket1.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.trinket1.mastery  %}
                        <p class="green">+{{ character.trinket1.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.trinket1.unique_spell   %}
                        <p class="green">{{ character.trinket1.unique_spell  }}</p>
                        {% endif %}
                        {% if character.trinket1.required_level   %}
                        <p>Требуется {{ character.trinket1.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}   
                    </div>
                </div>      
                </div>
                <div class="e1">
                    <div class="tooltip-container" onmouseover="showTooltip('trinket2Tooltip')" onmouseout="hideTooltip('trinket2Tooltip')">
                        <a href="{% url 'view_armors' character_id=character.id armor_type='trinket2'%}">
                            <img class="tooltip" src="{{ character.trinket2.item_img }}" width="100%" height="100%">
                            <img class="img_equip" src="https://static.wikia.nocookie.net/wowpedia/images/2/26/Ui-paperdoll-slot-trinket.png/revision/latest?cb=20070607015403">
                        </a>
                        <div class="tooltip-content" id="trinket2Tooltip">
                        {% if character.trinket2 %}
                        <p class="purple">{{ character.trinket2.title }}</p>
                        <p class="yellow">Уровень предмета: {{ character.trinket2.item_level }}</p>
                        <p>Качество: {{ character.trinket2.quality }}</p>
                        <p>Тип брони:  {{ character.trinket2.armor_type }} </p>  
                        {% if character.trinket2.strength %}
                        <p>+{{ character.trinket2.strength }} к силе</p>
                        {% endif %}
                        {% if character.trinket2.intelect  %}
                        <p>+{{ character.trinket2.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if character.trinket2.agility  %}
                        <p>+{{ character.trinket2.agility  }} к ловкости</p>
                        {% endif %}
                        {% if character.trinket2.stamina %}
                        <p>+{{ character.trinket2.stamina }} к выносливости</p>
                        {% endif %}
                        {% if character.trinket2.haste_rating  %}
                        <p class="green">+{{ character.trinket2.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if character.trinket2.crit_rating  %}
                        <p class="green">+{{ character.trinket2.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if character.trinket2.versatility  %}
                        <p class="green">+{{ character.trinket2.versatility }} к универсальности</p>
                        {% endif %}
                        {% if character.trinket2.mastery  %}
                        <p class="green">+{{ character.trinket2.mastery }} к искустности</p>
                        {% endif %}
                        {% if character.trinket2.unique_spell   %}
                        <p class="green">{{ character.trinket2.unique_spell  }}</p>
                        {% endif %}
                        {% if character.trinket2.required_level   %}
                        <p>Требуется {{ character.trinket2.required_level  }}-й ур.</p>
                        {% endif %}
                        {% else %}
                        <p class="yellow">предмет не экипирован</p>
                        {% endif %}
                    </div>
                </div> 
                </div>
            </div>
        </div>
    </div>
    <div class="stats">
        <div class="line">
            <div class="stat">
                <h2>{{  character.total_stats.health  }}</h2>
            </h1> Здоровье</h1>
            </div>
            <div class="stat">
                <h2>{{  character.mana  }}</h2>
            </h1> Мана</h1>
            </div>
            <div class="stat">
                <h2>{{  character.total_stats.intellect  }}</h2>
            </h1> Интелект</h1>
            </div>
            <div class="stat">
                <h2>{{  character.total_stats.strength   }}</h2>
            </h1> Сила</h1>
            </div>
            <div class="stat">
                <h2>{{  character.total_stats.agility   }}</h2>
            </h1> Ловкость</h1>
            </div>
        </div>
        <div class="line">
            <div class="stat">
                <h2>{{  character.total_stats.crit  }}</h2>
            </h1> Критический удар</h1>
            </div>
            <div class="stat">
                <h2>{{  character.total_stats.haste_rating  }}</h2>
            </h1> Скорость</h1>
            </div>
            <div class="stat">
                <h2>{{  character.total_stats.mastery    }}</h2>
            </h1> Искустность</h1>
            </div>
            <div class="stat">
                <h2>{{  character.total_stats.versatility    }}</h2>
            </h1> Универсальность</h1>
            </div>
            <div class="stat">
                <h2>{{  character.total_stats.stamina    }}</h2>
            </h1> Выносливость</h1>
            </div>
        </div>
    </div>
    <div class="footer">

    </div>
</div>
<script src="{% static 'style/js/script.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</body>
</html>