<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Lexend">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/css/profile.css' %}">
    <title>Document</title>
</head>
<body>
<html>
    <div class="head">
        <div id="logo">
            <img id="server_logo" src="https://sirus.one/_nuxt/logo.65100e59.png" alt="">
        </div>
        <a class="a" href="http://127.0.0.1:8000/"><div id="faq"><h2>О НАС</h2></div></a>
        <div id="db" class="dropdown">
            <h2>База знаний</h2>
            <div id="dropdownContent" class="dropdown-content">
              <a class="a" href="http://127.0.0.1:8000/database/armor/?armor_type=&armor_slot=%D0%93%D1%80%D1%83%D0%B4%D1%8C&armor_quality=&search=">Броня</a>
              <a class="a" href="http://127.0.0.1:8000/database/jewelry/?jewelry_slot=%D0%A8%D0%B5%D1%8F&jewelry_quality=&search=">Бижутерия</a>
              <a class="a" href="http://127.0.0.1:8000/database/weapon/">Оружие</a>
            </div>
          </div>
    
        <a class="a" href="http://127.0.0.1:8000/character/raiting/"><div id="pve_rate"><h2>PvE ладдер</h2></div></a>
        <a class="a" href="http://127.0.0.1:8000/client/download/"><div id="download"><h2>Cкачать</h2></div></a>
        <a class="a" href="http://127.0.0.1:8000/news/"><div id="online"><h2>Новости</h2></div></a>
        {% if user.is_authenticated %}
        <a class="a" href="http://127.0.0.1:8000/wow/profile/"><div id="reg"><h2>Мой профиль</h2></div></a>
        <a class="a" href="{% url 'logout' %}"><div id="auth"><h2>Выйти</h2></div></a>
        {% else %}
        <a class="a" href="http://127.0.0.1:8000/wow/login/"><div id="auth"><h2>Войти</h2></div></a>
        <a class="a" href="http://127.0.0.1:8000/wow/register/"><div id="reg"><h2>Регистрация</h2></div></a>
        {% endif %}
    </div>

{% if user.is_authenticated %}
        <div class="profile-container">

            <div class="avatar-container">
                {% if user.avatar %}
                <img  src="{{ user.avatar.url }}" alt="Аватар" class="avatar" id="avatar-preview" width="300px" height="300px">
                {% else %}
                <p>Нет аватарки</p>
                {% endif %}
                <form method="post" enctype="multipart/form-data" class="avatar-form">
                    {% csrf_token %}
                    <input type="file" name="avatar" id="id_avatar">
                    <label for="id_avatar" class="btn btn-primary">Изменить аватарку</label>
                </form>
            </div>

            <div class="info-container">
                <h1>Аккаунт: {{ user.email }}</h1>
                <h1>Баланс: {{ user.balance }}$</h1>
                <h1>Ваши персонажи:</h1>
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Никнейм</th>
                        <th>Фракция</th>
                        <th>Класс</th>
                        <th>Уровень</th>
                    </tr>
                </thead>
                <tbody>
                    {% for character in characters %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href="{% url 'character_info' character.id %}">{{ character.nick_name }}</a></td>
                            <td class="{% if character.fraction == 'Horde' %}fraction-horde{% elif character.fraction == 'Alliance' %}fraction-alliance{% endif %}">
                                {{ character.fraction }}</td>
                            <td>{{ character.specialization }}</td>
                            <td>{{ character.character_level }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

                <a href="/wow/create_character" class="btn btn-success">Создать персонажа</a>
                <form action="{% url 'logout' %}" method="post" style="display: inline-block;">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Выход</button>
                </form>
            </div>

          
        </div>
    {% endif %}

    {% if user.is_staff %}
        <div class="profile-container1">
            <div class="info-container">
                <div class="files">
                    <h2>Панель загрузки файлов</h2>
                    <form method="post" enctype="multipart/form-data" class="upload-form" id="your-form-id" onsubmit="return validateFile()">
                        {% csrf_token %}
                        {{ upload_form.as_p }}
                        <input type="file" name="file" id="id_file" class="inputfile" style="display: none;" onchange="updateFileName()">
                        <label for="id_file" class="file-label btn btn-choose-file">Выбрать файл</label>
                        <span id="selected-file-name"></span>
                        <button type="submit" class="btn btn-success">Загрузить файл</button>
                        <div id="upload-notification" style="display: none;">Файл успешно загружен!</div>
                    </form>
                </div>
            </div>
                <div class="news">
                <h2>Панель публикации новостей</h2>
                <form method="post" class="news-form">
                    {% csrf_token %}
                    {{ news_form.as_p }}
                    <button type="submit" class="btn">Создать новость</button>
                </form>
                
            </div>
            </div>
        </div>
    {% endif %}


<body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="{% static 'style/js/header.js' %}"></script>
<script src="{% static 'style/js/avatar_hide_display.js' %}"></script>
<script src="{% static 'style/js/download_file.js' %}"></script>

</html>
</body>
</html>