<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'style/css/menu.css' %}">
</head>
<div class="head">
    <div id="logo">
        <img id="server_logo" src="https://sirus.one/_nuxt/logo.65100e59.png" alt="">
    </div>
    <a class="a" href="http://127.0.0.1:8000/"><div id="faq"><h2>О НАС</h2></div></a>
    <div id="db" class="dropdown">
        <h2>База знаний</h2>
        <div id="dropdownContent" class="dropdown-content">
          <a class="a" href="http://127.0.0.1:8000/database/armor/?armor_type=&armor_slot=%D0%93%D1%80%D1%83%D0%B4%D1%8C&armor_quality=&search=">Броня</a>
          <a class="a" href="http://127.0.0.1:8000/database/jewelry/?jewelry_slot=%D0%A8%D0%B5%D1%8F&jewelry_quality=&search=">Бижутерия</a>
          <a class="a" href="http://127.0.0.1:8000/database/weapon/">Оружие</a>
        </div>
      </div>

    <a class="a" href="http://127.0.0.1:8000/character/raiting/"><div id="pve_rate"><h2>PvE ладдер</h2></div></a>
    <a class="a" href="http://127.0.0.1:8000/client/download/"><div id="download"><h2>Cкачать</h2></div></a>
    <a class="a" href="http://127.0.0.1:8000/news/"><div id="online"><h2>Новости</h2></div></a>
    {% if user.is_authenticated %}
    <a class="a" href="http://127.0.0.1:8000/wow/profile/"><div id="reg"><h2>Мой профиль</h2></div></a>
    <a class="a" href="{% url 'logout' %}"><div id="auth"><h2>Выйти</h2></div></a>
    {% else %}
    <a class="a" href="http://127.0.0.1:8000/wow/login/"><div id="auth"><h2>Войти</h2></div></a>
    <a class="a" href="http://127.0.0.1:8000/wow/register/"><div id="reg"><h2>Регистрация</h2></div></a>
    {% endif %}
</div>

<body>
    <div class="login-container">
        <h2>Регистрация</h2>
        <form method="post">
           {% csrf_token %}
           <h3 style="color: white;"> {{ form.as_p }}</h3>
            <button type="submit">Регистрация</button>
        </form>
    </div>
</body>
<script src="{% static 'style/js/header.js' %}"></script>
</html>