body {
    font-family: 'Lexend', sans-serif;
    margin: 0;
    color: white;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url(https://bnetcmsus-a.akamaihd.net/cms/blog_header/lh/LHR1AHC6005B1568851116886.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.box {
  
    width: 200px;
    padding: 30px;
    z-index: 11;
    background-color: rgba(0, 0, 0, 0.795);
    color: rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(119, 50, 50, 0.1);
    margin-top: 10px;
    border: 1px solid rgb(216, 212, 235);
  
    
}

.green {
    color: rgb(41, 189, 41);
}

.yellow {
    color: rgb(241, 241, 44);
}

.purple {
    color: rgb(160, 1, 160);
}

a {
    text-decoration: none;
    color: #007bff;
}