.avatar-container {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 150px; 
    height: 150px;
    object-fit: cover; 
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.avatar-form {
    margin-top: 20px;
}