<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/css/main_db.css' %}">
    <link rel="stylesheet" href="https://fonts.google.com/specimen/Lexend">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <title>Database</title>
</head>
<body>
    <div class="main">
        <div class="head">
            <div id="logo">
                <img id="server_logo" src="https://sirus.one/_nuxt/logo.65100e59.png" alt="">
            </div>
            <a href="http://127.0.0.1:8000/"><div id="faq"><h2>О НАС</h2></div></a>
            <div id="db" class="dropdown">
                <h2>База знаний</h2>
                <div id="dropdownContent" class="dropdown-content">
                  <a href="http://127.0.0.1:8000/database/armor/?armor_type=&armor_slot=%D0%93%D1%80%D1%83%D0%B4%D1%8C&armor_quality=&search=">Броня</a>
                  <a href="http://127.0.0.1:8000/database/jewelry/?jewelry_slot=%D0%A8%D0%B5%D1%8F&jewelry_quality=&search=">Бижутерия</a>
                  <a href="http://127.0.0.1:8000/database/weapon/">Оружие</a>
                </div>
              </div>
        
            <a href="http://127.0.0.1:8000/character/raiting/"><div id="pve_rate"><h2>PvE ладдер</h2></div></a>
            <a href="http://127.0.0.1:8000/client/download/"><div id="download"><h2>Cкачать</h2></div></a>
            <a href="http://127.0.0.1:8000/news/"><div id="online"><h2>Новости</h2></div></a>
            {% if user.is_authenticated %}
            <a href="http://127.0.0.1:8000/wow/profile/"><div id="reg"><h2>Мой профиль</h2></div></a>
            <a href="{% url 'logout' %}"><div id="auth"><h2>Выйти</h2></div></a>
            {% else %}
            <a href="http://127.0.0.1:8000/wow/login/"><div id="auth"><h2>Войти</h2></div></a>
            <a href="http://127.0.0.1:8000/wow/register/"><div id="reg"><h2>Регистрация</h2></div></a>
            {% endif %}
       
        </div>
        <div class="armor_list">
            <h1>Список Брони</h1>
           
    <form method="get" action="{% url 'db_main_page' %}">
        <label for="armor_type">Тип брони:</label>
        <select name="armor_type" id="armor_type">
            <option value="">Всё</option>
            <option value="Plate Armor">Латы</option>
            <option value="Mail Armor">Кольчуга</option>
            <option value="Leather Armor">Кожа</option>
            <option value="Сloth Armor">Ткань</option>
            <option value="Cosmetic">Косметика</option>
        </select>
        <label for="armor_slot">Слот:</label>
        <select name="armor_slot" id="armor_slot">
         
            <option value="Грудь">Грудь</option>
            <option value="Голова">Голова</option>
            <option value="Ступни">Ступни</option>
            <option value="Кисти рук">Кисти рук</option>
            <option value="Плечи">Плечи</option>
            <option value="Пояс">Пояс</option>
            <option value="Ноги">Ноги</option>
            <option value="Запястья">Запястья</option>
            <option value="Спина">Спина</option>
        </select>
        <label for="armor_quality">Качество:</label>
        <select name="armor_quality" id="armor_quality">
        <option value="">All</option>
        <option class="epic" value="Epic">Epic</option>
        <option class="rare" value="Rare">Rare</option>
        <option class="uncommon" value="Uncommon">Uncommon</option>
        
    </select>
        <label for="search">Название:</label>
        <input type="text" name="search" id="search" value="{{ search_term }}">
        <button type="submit">Поиск</button>
    </form>
    <table  id="armor-table">
        <thead>
            <tr>
                <th onclick="sortTable(0)">Name</th>
                <th onclick="sortTable(1)">ILvl</th>
                <th onclick="sortTable(2)">Req.</th>
                <th onclick="sortTable(3)">Armor</th>
                <th onclick="sortTable(5)">Type</th>
                <th onclick="sortTable(4)">Quntity</th>
            </tr>
        </thead>
     
            {% for armor in armors %}
                <tr>
                    <td class="armor-tooltip" data-armor-type="{{ armor.armor_type }}">
                        <a href="{{ armor.item_url }}" class="tooltip-trigger"><img id="item_img" src="{{ armor.item_img }}" alt=""></a>
                        <h4 class="tooltip-trigger"><a class="
                            {% if armor.quality == 'Epic' %}epic
                            {% elif armor.quality == 'Rare' %}rare
                            {% endif %}" href="{{ armor.item_url }}">{{ armor.title }}</a></h4>
                        <div class="tooltip-content">
                        <p class="
                        {% if armor.quality == 'Epic' %}epic
                        {% elif armor.quality == 'Rare' %}rare
                        {% endif %}">{{ armor.title }}</p>
                        <p class="yellow">Уровень предмета: {{ armor.item_level }}</p>
                        <p class="
                        {% if armor.quality == 'Epic' %}epic
                        {% elif armor.quality == 'Rare' %}rare
                        {% endif %}">Качество: {{ armor.quality }}</p>
                        <p>Тип брони:  {{ armor.armor_type }} </p>
                        <p>Броня:  {{ armor.armor }}</p>
                        {% if armor.strength %}
                        <p>+{{ armor.strength }} к силе</p>
                        {% endif %}
                        {% if armor.intelect  %}
                        <p>+{{ armor.intelect  }} к интелекту</p>
                        {% endif %}
                        {% if armor.agility  %}
                        <p>+{{ armor.agility  }} к ловкости</p>
                        {% endif %}
                        {% if armor.stamina %}
                        <p>+{{ armor.stamina }} к выносливости</p>
                        {% endif %}
                        {% if armor.haste_rating  %}
                        <p class="green">+{{ armor.haste_rating }} к скорости</p>
                        {% endif %}
                        {% if armor.crit_rating  %}
                        <p class="green">+{{ armor.crit_rating }} к критическому удару</p>
                        {% endif %}
                        {% if armor.versatility  %}
                        <p class="green">+{{ armor.versatility }} к универсальности</p>
                        {% endif %}
                        {% if armor.mastery  %}
                        <p class="green">+{{ armor.mastery }} к искустности</p>
                        {% endif %}
                        {% if armor.required_level   %}
                        <p>Требуется {{ armor.required_level  }}-й ур.</p>
                        {% endif %}
                        </div>
                        </div>
                </td>
                    <td>{{ armor.item_level }}</td>
                    <td>{{ armor.required_level }}</td>
                    <td>{{ armor.armor }}</td>
                    <td>{{ armor.armor_type }}</td>
                    <td class="
                    {% if armor.quality == 'Epic' %}epic
                    {% elif armor.quality == 'Rare' %}rare
                    {% endif %}">{{ armor.quality }}</td>
                </tr>
            {% endfor %}

    </table>
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if armors.has_previous %}
                    <a href="?page=1{% if armor_type_filter %}&armor_type={{ armor_type_filter }}{% endif %}{% if armor_slot_filter %}&armor_slot={{ armor_slot_filter }}{% endif %}"><< Первая</a>
                    <a href="?page={{ armors.previous_page_number }}{% if armor_type_filter %}&armor_type={{ armor_type_filter }}{% endif %}{% if armor_slot_filter %}&armor_slot={{ armor_slot_filter }}{% endif %}">< Назад</a>
                {% endif %}
        
                <span class="current">
                    Страница {{ armors.number }} из {{ armors.paginator.num_pages }}.
                </span>
        
                {% if armors.has_next %}
                    <a href="?page={{ armors.next_page_number }}{% if armor_type_filter %}&armor_type={{ armor_type_filter }}{% endif %}{% if armor_slot_filter %}&armor_slot={{ armor_slot_filter }}{% endif %}">Cледующая ></a>
                    <a href="?page={{ armors.paginator.num_pages }}{% if armor_type_filter %}&armor_type={{ armor_type_filter }}{% endif %}{% if armor_slot_filter %}&armor_slot={{ armor_slot_filter }}{% endif %}">Последняя >></a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
<script src="{% static 'style/js/script1.js' %}"></script>
<script src="{% static 'style/js/header.js' %}"></script>
</html>